body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0px 30px 50px rgba (65, 50, 100, 0.08);
  border-radius: 16px;
}
